Check the Spark session to ensure it is running an see how many nodes are running in the cluser.

In [8]:
spark  # also achieved by through the "sc" object

Run the "Hello World" code

In [9]:
df = spark.sql('''SELECT 'spark' as hello ''') 
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

Basic file loading and usage

In [10]:
textFile = spark.read.text("C:\\Spark\\README.md")
# textFile
textFile.count()

105

In [11]:
textFile.first()

Row(value='# Apache Spark')

In [13]:
lineswithSpark = textFile.filter(textFile.value.contains("Spark"))
lineswithSpark.count()

20

Introductory code based on Pluralsight course examples

In [17]:
filePath = "C:\\Users\\joshs\\source\\PycharmProjects\\DataScience\\ALC.csv"
alcon = sc.textFile(filePath)

In [18]:
alcon

C:\Users\joshs\source\PycharmProjects\DataScience\ALC.csv MapPartitionsRDD[50] at textFile at NativeMethodAccessorImpl.java:0

In [20]:
alcon.take(10)

['Date,Open,High,Low,Close,Adj Close,Volume',
 '2000-11-17,2.372000,2.372000,2.372000,2.372000,2.372000,196',
 '2000-11-20,2.561000,2.561000,2.561000,2.561000,2.561000,2650',
 '2000-11-21,2.399000,2.399000,2.399000,2.399000,2.399000,310',
 '2000-11-22,2.426000,2.426000,2.426000,2.426000,2.426000,110',
 '2000-11-24,2.292000,2.292000,2.292000,2.292000,2.292000,1000',
 '2000-11-27,2.372000,2.372000,2.372000,2.372000,2.372000,850',
 '2000-11-28,2.346000,2.346000,2.346000,2.346000,2.346000,285',
 '2000-11-29,2.346000,2.346000,2.346000,2.346000,2.346000,1',
 '2000-11-30,2.319000,2.319000,2.319000,2.319000,2.319000,221']

In [21]:
alcon.count()

4787

In [22]:
alcon.first()

'Date,Open,High,Low,Close,Adj Close,Volume'

In [23]:
alcon.collect()

['Date,Open,High,Low,Close,Adj Close,Volume',
 '2000-11-17,2.372000,2.372000,2.372000,2.372000,2.372000,196',
 '2000-11-20,2.561000,2.561000,2.561000,2.561000,2.561000,2650',
 '2000-11-21,2.399000,2.399000,2.399000,2.399000,2.399000,310',
 '2000-11-22,2.426000,2.426000,2.426000,2.426000,2.426000,110',
 '2000-11-24,2.292000,2.292000,2.292000,2.292000,2.292000,1000',
 '2000-11-27,2.372000,2.372000,2.372000,2.372000,2.372000,850',
 '2000-11-28,2.346000,2.346000,2.346000,2.346000,2.346000,285',
 '2000-11-29,2.346000,2.346000,2.346000,2.346000,2.346000,1',
 '2000-11-30,2.319000,2.319000,2.319000,2.319000,2.319000,221',
 '2000-12-01,2.157000,2.157000,2.157000,2.157000,2.157000,250',
 '2000-12-04,2.157000,2.157000,2.157000,2.157000,2.157000,570',
 '2000-12-05,1.833000,1.833000,1.833000,1.833000,1.833000,250',
 '2000-12-06,2.022000,2.022000,2.022000,2.022000,2.022000,21',
 '2000-12-07,1.941000,1.941000,1.941000,1.941000,1.941000,500',
 '2000-12-08,1.995000,1.995000,1.995000,1.995000,1.995000,80',
 '2000-12-11,1.995000,1.995000,1.995000,1.995000,1.995000,1000',
 '2000-12-12,1.887000,1.887000,1.887000,1.887000,1.887000,501',
 '2000-12-13,2.009000,2.009000,2.009000,2.009000,2.009000,300',
 '2000-12-14,null,null,null,null,null,null',
 '2000-12-15,2.103000,2.103000,2.103000,2.103000,2.103000,340',
 '2000-12-18,2.157000,2.157000,2.157000,2.157000,2.157000,1000',
 '2000-12-19,2.022000,2.022000,2.022000,2.022000,2.022000,1000',
 '2000-12-20,null,null,null,null,null,null',
 '2000-12-21,1.982000,1.982000,1.982000,1.982000,1.982000,7275',
 '2000-12-22,2.157000,2.157000,2.157000,2.157000,2.157000,110',
 '2000-12-26,null,null,null,null,null,null',
 '2000-12-27,null,null,null,null,null,null',
 '2000-12-28,2.238000,2.238000,2.238000,2.238000,2.238000,1600',
 '2000-12-29,2.292000,2.292000,2.292000,2.292000,2.292000,2650',
 '2001-01-02,2.534000,2.534000,2.534000,2.534000,2.534000,60',
 '2001-01-03,2.534000,2.534000,2.534000,2.534000,2.534000,22950',
 '2001-01-04,2.534000,2.534000,2.534000,2.534000,2.534000,5',
 '2001-01-05,2.534000,2.534000,2.534000,2.534000,2.534000,400',
 '2001-01-08,2.534000,2.534000,2.534000,2.534000,2.534000,10',
 '2001-01-09,2.534000,2.534000,2.534000,2.534000,2.534000,280',
 '2001-01-10,2.521000,2.521000,2.521000,2.521000,2.521000,205',
 '2001-01-11,2.534000,2.534000,2.534000,2.534000,2.534000,370',
 '2001-01-12,2.467000,2.467000,2.467000,2.467000,2.467000,175',
 '2001-01-16,2.467000,2.467000,2.467000,2.467000,2.467000,51',
 '2001-01-17,2.467000,2.467000,2.467000,2.467000,2.467000,10',
 '2001-01-18,2.467000,2.467000,2.467000,2.467000,2.467000,11',
 '2001-01-19,2.467000,2.467000,2.467000,2.467000,2.467000,18',
 '2001-01-22,2.386000,2.386000,2.386000,2.386000,2.386000,1',
 '2001-01-23,2.386000,2.386000,2.386000,2.386000,2.386000,200',
 '2001-01-24,null,null,null,null,null,null',
 '2001-01-25,2.386000,2.386000,2.386000,2.386000,2.386000,281',
 '2001-01-26,null,null,null,null,null,null',
 '2001-01-29,2.386000,2.386000,2.386000,2.386000,2.386000,201',
 '2001-01-30,2.386000,2.386000,2.386000,2.386000,2.386000,1',
 '2001-01-31,2.372000,2.372000,2.372000,2.372000,2.372000,1',
 '2001-02-01,2.386000,2.386000,2.386000,2.386000,2.386000,105',
 '2001-02-02,2.386000,2.386000,2.386000,2.386000,2.386000,1001',
 '2001-02-05,2.386000,2.386000,2.386000,2.386000,2.386000,290',
 '2001-02-06,2.372000,2.372000,2.372000,2.372000,2.372000,62',
 '2001-02-07,2.359000,2.359000,2.359000,2.359000,2.359000,203',
 '2001-02-08,2.359000,2.359000,2.359000,2.359000,2.359000,205',
 '2001-02-09,8.600000,8.600000,8.000000,8.000000,8.000000,0',
 '2001-02-12,2.319000,2.319000,2.319000,2.319000,2.319000,900',
 '2001-02-13,2.278000,2.278000,2.278000,2.278000,2.278000,20',
 '2001-02-14,2.278000,2.278000,2.278000,2.278000,2.278000,105',
 '2001-02-15,2.278000,2.278000,2.278000,2.278000,2.278000,55',
 '2001-02-16,8.450000,8.450000,8.000000,8.000000,8.000000,0',
 '2001-02-20,2.265000,2.265000,2.265000,2.265000,2.265000,700',
 '2001-02-21,2.238000,2.238000,2.238000,2.238000,2.238000,305',
 '2001-02-22,8.000000,8.000000,7.500000,7.500000,7.500000,0',
 '2001-02-23,2.157000,2.157000,2.157000,2.157000,2.157000,510',
 '2001-02-26,null,null,null,null,null,null',
 '2001-02-27,2.157000,2.157000,2.157000,2.157000,2.157000,1300',
 '2001-02-28,2.278000,2.278000,2.278000,2.278000,2.278000,100',
 '2001-03-01,2.426000,2.426000,2.426000,2.426000,2.426000,720',
 '2001-03-02,2.399000,2.399000,2.399000,2.399000,2.399000,1540',
 '2001-03-05,2.399000,2.399000,2.399000,2.399000,2.399000,150',
 '2001-03-06,2.426000,2.426000,2.426000,2.426000,2.426000,725',
 '2001-03-07,2.399000,2.399000,2.399000,2.399000,2.399000,50',
 '2001-03-08,2.426000,2.426000,2.426000,2.426000,2.426000,10',
 '2001-03-09,2.292000,2.292000,2.292000,2.292000,2.292000,50',
 '2001-03-12,2.426000,2.426000,2.426000,2.426000,2.426000,900',
 '2001-03-13,2.292000,2.292000,2.292000,2.292000,2.292000,10',
 '2001-03-14,null,null,null,null,null,null',
 '2001-03-15,2.238000,2.238000,2.238000,2.238000,2.238000,10',
 '2001-03-16,2.211000,2.211000,2.211000,2.211000,2.211000,162',
 '2001-03-19,2.184000,2.184000,2.184000,2.184000,2.184000,3196',
 '2001-03-20,2.224000,2.224000,2.224000,2.224000,2.224000,4179',
 '2001-03-21,2.292000,2.292000,2.292000,2.292000,2.292000,10',
 '2001-03-22,2.426000,2.426000,2.426000,2.426000,2.426000,10',
 '2001-03-23,2.426000,2.426000,2.426000,2.426000,2.426000,400',
 '2001-03-26,2.346000,2.346000,2.346000,2.346000,2.346000,10',
 '2001-03-27,2.426000,2.426000,2.426000,2.426000,2.426000,515',
 '2001-03-28,2.399000,2.399000,2.399000,2.399000,2.399000,700',
 '2001-03-29,2.426000,2.426000,2.426000,2.426000,2.426000,9762',
 '2001-03-30,2.372000,2.372000,2.372000,2.372000,2.372000,10',
 '2001-04-02,2.426000,2.426000,2.426000,2.426000,2.426000,3525',
 '2001-04-03,2.426000,2.426000,2.426000,2.426000,2.426000,2100',
 '2001-04-04,2.426000,2.426000,2.426000,2.426000,2.426000,1050',
 '2001-04-05,2.440000,2.440000,2.440000,2.440000,2.440000,2000',
 '2001-04-06,2.399000,2.399000,2.399000,2.399000,2.399000,10',
 '2001-04-09,9.300000,9.300000,9.000000,9.000000,9.000000,0',
 '2001-04-10,2.426000,2.426000,2.426000,2.426000,2.426000,12100',
 '2001-04-11,2.426000,2.426000,2.426000,2.426000,2.426000,40',
 '2001-04-12,2.426000,2.426000,2.426000,2.426000,2.426000,4343',
 '2001-04-16,null,null,null,null,null,null',
 '2001-04-17,2.561000,2.561000,2.561000,2.561000,2.561000,50',
 '2001-04-18,2.561000,2.561000,2.561000,2.561000,2.561000,8012',
 '2001-04-19,2.426000,2.426000,2.426000,2.426000,2.426000,100',
 '2001-04-20,2.184000,2.399000,2.184000,2.399000,2.399000,3600',
 '2001-04-23,2.588000,2.588000,2.588000,2.588000,2.588000,110',
 '2001-04-24,2.561000,2.561000,2.426000,2.426000,2.426000,9600',
 '2001-04-25,2.548000,2.561000,2.548000,2.561000,2.561000,12688',
 '2001-04-26,2.534000,2.534000,2.534000,2.534000,2.534000,120',
 '2001-04-27,2.480000,2.480000,2.480000,2.480000,2.480000,800',
 '2001-04-30,2.507000,2.507000,2.507000,2.507000,2.507000,44060',
 '2001-05-01,null,null,null,null,null,null',
 '2001-05-02,2.534000,2.534000,2.534000,2.534000,2.534000,410',
 '2001-05-03,null,null,null,null,null,null',
 '2001-05-04,null,null,null,null,null,null',
 '2001-05-07,null,null,null,null,null,null',
 '2001-05-08,2.507000,2.507000,2.467000,2.467000,2.467000,1067',
 '2001-05-09,2.480000,2.480000,2.480000,2.480000,2.480000,2850',
 '2001-05-10,2.426000,2.426000,2.426000,2.426000,2.426000,710',
 '2001-05-11,2.426000,2.426000,2.426000,2.426000,2.426000,100',
 '2001-05-14,2.480000,2.480000,2.372000,2.372000,2.372000,546',
 '2001-05-15,2.480000,2.480000,2.480000,2.480000,2.480000,416',
 '2001-05-16,2.467000,2.467000,2.467000,2.467000,2.467000,150',
 '2001-05-17,2.426000,2.467000,2.426000,2.467000,2.467000,576',
 '2001-05-18,2.494000,2.494000,2.359000,2.359000,2.359000,56061',
 '2001-05-21,2.494000,2.507000,2.494000,2.507000,2.507000,15000',
 '2001-05-22,2.507000,2.507000,2.453000,2.453000,2.453000,500',
 '2001-05-23,2.426000,2.426000,2.426000,2.426000,2.426000,536',
 '2001-05-24,2.319000,2.319000,2.319000,2.319000,2.319000,1976',
 '2001-05-25,2.453000,2.453000,2.426000,2.426000,2.426000,600',
 '2001-05-29,2.426000,2.426000,2.426000,2.426000,2.426000,800',
 '2001-05-30,2.426000,2.426000,2.184000,2.184000,2.184000,496',
 '2001-05-31,2.372000,2.426000,2.372000,2.426000,2.426000,1074',
 '2001-06-01,2.426000,2.426000,2.426000,2.426000,2.426000,500',
 '2001-06-04,2.372000,2.372000,2.359000,2.359000,2.359000,6700',
 '2001-06-05,2.386000,2.386000,2.386000,2.386000,2.386000,230',
 '2001-06-06,2.386000,2.386000,2.386000,2.386000,2.386000,200',
 '2001-06-07,2.399000,2.399000,2.399000,2.399000,2.399000,40',
 '2001-06-08,2.399000,2.399000,2.399000,2.399000,2.399000,21',
 '2001-06-11,2.399000,2.399000,2.292000,2.292000,2.292000,60',
 '2001-06-12,2.292000,2.292000,2.292000,2.292000,2.292000,120',
 '2001-06-13,2.399000,2.399000,2.399000,2.399000,2.399000,10',
 '2001-06-14,null,null,null,null,null,null',
 '2001-06-15,2.292000,2.292000,2.265000,2.265000,2.265000,6750',
 '2001-06-18,2.265000,2.265000,2.265000,2.265000,2.265000,20',
 '2001-06-19,2.211000,2.211000,2.211000,2.211000,2.211000,116',
 '2001-06-20,2.292000,2.292000,2.292000,2.292000,2.292000,20',
 '2001-06-21,2.292000,2.292000,2.265000,2.265000,2.265000,20',
 '2001-06-22,2.157000,2.224000,2.157000,2.224000,2.224000,27110',
 '2001-06-25,2.265000,2.265000,2.251000,2.251000,2.251000,34149',
 '2001-06-26,2.265000,2.265000,1.928000,1.928000,1.928000,154',
 '2001-06-27,2.157000,2.157000,1.914000,1.914000,1.914000,271',
 '2001-06-28,2.157000,2.157000,1.752000,1.752000,1.752000,164',
 '2001-06-29,2.103000,2.103000,2.103000,2.103000,2.103000,710',
 '2001-07-02,2.022000,2.022000,2.022000,2.022000,2.022000,210',
 '2001-07-03,2.022000,2.022000,2.022000,2.022000,2.022000,320',
 '2001-07-05,2.022000,2.022000,2.022000,2.022000,2.022000,10',
 '2001-07-06,2.022000,2.022000,2.022000,2.022000,2.022000,10',
 '2001-07-09,2.022000,2.022000,2.022000,2.022000,2.022000,20',
 '2001-07-10,2.022000,2.143000,2.022000,2.143000,2.143000,5010',
 '2001-07-11,2.143000,2.143000,2.143000,2.143000,2.143000,10',
 '2001-07-12,2.143000,2.143000,2.143000,2.143000,2.143000,20',
 '2001-07-13,null,null,null,null,null,null',
 '2001-07-16,2.116000,2.116000,2.103000,2.103000,2.103000,155',
 '2001-07-17,2.103000,2.103000,2.089000,2.089000,2.089000,760',
 '2001-07-18,2.076000,2.076000,2.049000,2.049000,2.049000,1111',
 '2001-07-19,2.076000,2.076000,2.062000,2.062000,2.062000,6940',
 '2001-07-20,2.049000,2.049000,2.049000,2.049000,2.049000,20',
 '2001-07-23,1.968000,1.968000,1.968000,1.968000,1.968000,2300',
 '2001-07-24,1.995000,1.995000,1.982000,1.982000,1.982000,330',
 '2001-07-25,1.887000,1.968000,1.887000,1.968000,1.968000,1172',
 '2001-07-26,1.968000,1.982000,1.968000,1.982000,1.982000,600',
 '2001-07-27,1.968000,1.968000,1.955000,1.955000,1.955000,20',
 '2001-07-30,1.928000,1.928000,1.928000,1.928000,1.928000,20',
 '2001-07-31,1.928000,1.928000,1.928000,1.928000,1.928000,130',
 '2001-08-01,1.928000,1.928000,1.928000,1.928000,1.928000,20',
 '2001-08-02,1.928000,1.928000,1.928000,1.928000,1.928000,271',
 '2001-08-03,1.928000,1.928000,1.928000,1.928000,1.928000,10',
 '2001-08-06,1.887000,1.887000,1.887000,1.887000,1.887000,26860',
 '2001-08-07,2.035000,2.035000,1.928000,1.928000,1.928000,43810',
 '2001-08-08,1.941000,1.941000,1.941000,1.941000,1.941000,20',
 '2001-08-09,1.941000,1.941000,1.941000,1.941000,1.941000,20',
 '2001-08-10,1.941000,1.941000,1.941000,1.941000,1.941000,10',
 '2001-08-13,2.049000,2.049000,2.049000,2.049000,2.049000,20',
 '2001-08-14,2.035000,2.035000,2.035000,2.035000,2.035000,20',
 '2001-08-15,null,null,null,null,null,null',
 '2001-08-16,2.022000,2.035000,2.022000,2.035000,2.035000,180',
 '2001-08-17,2.035000,2.035000,2.022000,2.022000,2.022000,20',
 '2001-08-20,2.022000,2.049000,2.022000,2.049000,2.049000,60',
 '2001-08-21,2.022000,2.035000,2.022000,2.035000,2.035000,60',
 '2001-08-22,2.022000,2.035000,2.022000,2.035000,2.035000,52',
 '2001-08-23,2.022000,2.022000,2.022000,2.022000,2.022000,15',
 '2001-08-24,2.022000,2.022000,2.022000,2.022000,2.022000,15',
 '2001-08-27,1.968000,2.049000,1.968000,2.049000,2.049000,355',
 '2001-08-28,2.035000,2.035000,2.035000,2.035000,2.035000,10',
 '2001-08-29,2.035000,2.035000,2.035000,2.035000,2.035000,10',
 '2001-08-30,2.035000,2.035000,2.035000,2.035000,2.035000,10',
 '2001-08-31,2.035000,2.035000,1.887000,1.887000,1.887000,105',
 '2001-09-04,1.955000,1.955000,1.955000,1.955000,1.955000,13050',
 '2001-09-05,1.941000,1.941000,1.941000,1.941000,1.941000,19850',
 '2001-09-06,1.941000,1.941000,1.941000,1.941000,1.941000,10',
 '2001-09-07,1.941000,1.941000,1.941000,1.941000,1.941000,5',
 '2001-09-10,1.941000,1.941000,1.941000,1.941000,1.941000,10',
 '2001-09-17,2.035000,2.035000,2.035000,2.035000,2.035000,5',
 '2001-09-18,1.995000,1.995000,1.995000,1.995000,1.995000,5',
 '2001-09-19,1.995000,1.995000,1.995000,1.995000,1.995000,7',
 '2001-09-20,1.995000,1.995000,1.995000,1.995000,1.995000,6',
 '2001-09-21,1.995000,1.995000,1.995000,1.995000,1.995000,5',
 '2001-09-24,1.995000,1.995000,1.995000,1.995000,1.995000,2',
 '2001-09-25,1.995000,1.995000,1.995000,1.995000,1.995000,501',
 '2001-09-26,1.833000,1.833000,1.833000,1.833000,1.833000,389',
 '2001-09-27,1.833000,1.833000,1.833000,1.833000,1.833000,5',
 '2001-09-28,null,null,null,null,null,null',
 '2001-10-01,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-02,1.806000,1.806000,1.806000,1.806000,1.806000,6',
 '2001-10-03,1.806000,1.806000,1.806000,1.806000,1.806000,394',
 '2001-10-04,1.833000,1.833000,1.833000,1.833000,1.833000,2',
 '2001-10-05,1.779000,1.779000,1.779000,1.779000,1.779000,1000',
 '2001-10-08,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-09,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-10,1.833000,1.833000,1.833000,1.833000,1.833000,41',
 '2001-10-11,1.833000,1.833000,1.833000,1.833000,1.833000,10',
 '2001-10-12,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-15,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-16,null,null,null,null,null,null',
 '2001-10-17,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-18,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-19,1.806000,1.806000,1.806000,1.806000,1.806000,1',
 '2001-10-22,1.806000,1.806000,1.618000,1.618000,1.618000,501',
 '2001-10-23,1.793000,1.793000,1.793000,1.793000,1.793000,2',
 '2001-10-24,1.793000,1.793000,1.618000,1.618000,1.618000,1946',
 '2001-10-25,1.793000,1.793000,1.793000,1.793000,1.793000,1',
 '2001-10-26,null,null,null,null,null,null',
 '2001-10-29,1.833000,1.833000,1.833000,1.833000,1.833000,1',
 '2001-10-30,1.658000,1.779000,1.658000,1.779000,1.779000,3037',
 '2001-10-31,1.779000,1.779000,1.779000,1.779000,1.779000,1',
 '2001-11-01,null,null,null,null,null,null',
 '2001-11-02,1.672000,1.672000,1.672000,1.672000,1.672000,151',
 '2001-11-05,1.672000,1.672000,1.672000,1.672000,1.672000,1',
 '2001-11-06,1.672000,1.672000,1.672000,1.672000,1.672000,300',
 '2001-11-07,1.510000,1.510000,1.510000,1.510000,1.510000,300',
 '2001-11-08,1.672000,1.672000,1.658000,1.658000,1.658000,339',
 '2001-11-09,1.672000,1.672000,1.672000,1.672000,1.672000,3',
 '2001-11-12,1.672000,1.672000,1.672000,1.672000,1.672000,1',
 '2001-11-13,1.672000,1.672000,1.672000,1.672000,1.672000,1',
 '2001-11-14,1.672000,1.739000,1.672000,1.739000,1.739000,401',
 '2001-11-15,1.725000,1.725000,1.725000,1.725000,1.725000,5901',
 '2001-11-16,6.450000,6.450000,6.000000,6.000000,6.000000,0',
 '2001-11-19,1.739000,1.739000,1.739000,1.739000,1.739000,1',
 '2001-11-20,1.739000,1.739000,1.739000,1.739000,1.739000,1',
 '2001-11-21,1.739000,1.739000,1.739000,1.739000,1.739000,2',
 '2001-11-23,1.779000,1.779000,1.779000,1.779000,1.779000,2',
 '2001-11-26,5.400000,5.400000,5.400000,5.400000,5.400000,0',
 '2001-11-27,1.510000,1.510000,1.510000,1.510000,1.510000,1',
 '2001-11-28,1.510000,1.537000,1.510000,1.537000,1.537000,2',
 '2001-11-29,1.510000,1.510000,1.510000,1.510000,1.510000,1',
 '2001-11-30,1.483000,1.483000,1.483000,1.483000,1.483000,375',
 '2001-12-03,1.483000,1.483000,1.483000,1.483000,1.483000,1',
 '2001-12-04,1.483000,1.483000,1.483000,1.483000,1.483000,2',
 '2001-12-05,5.500000,5.500000,5.200000,5.200000,5.200000,0',
 '2001-12-06,5.500000,5.500000,5.200000,5.200000,5.200000,0',
 '2001-12-07,1.483000,1.483000,1.483000,1.483000,1.483000,1',
 '2001-12-10,1.375000,1.375000,1.375000,1.375000,1.375000,236',
 '2001-12-11,1.348000,1.348000,1.348000,1.348000,1.348000,2',
 '2001-12-12,1.348000,1.348000,1.348000,1.348000,1.348000,1',
 '2001-12-13,1.348000,1.348000,1.348000,1.348000,1.348000,273',
 '2001-12-14,1.469000,1.469000,1.469000,1.469000,1.469000,236',
 '2001-12-17,1.483000,1.483000,1.483000,1.483000,1.483000,437',
 '2001-12-18,null,null,null,null,null,null',
 '2001-12-19,1.483000,1.483000,1.483000,1.483000,1.483000,90',
 '2001-12-20,1.537000,1.537000,1.537000,1.537000,1.537000,10',
 '2001-12-21,1.618000,1.618000,1.496000,1.496000,1.496000,41556',
 '2001-12-24,null,null,null,null,null,null',
 '2001-12-26,null,null,null,null,null,null',
 '2001-12-27,6.000000,6.000000,5.400000,5.400000,5.400000,0',
 '2001-12-28,6.000000,6.000000,5.500000,5.500000,5.500000,0',
 '2001-12-31,1.645000,1.806000,1.645000,1.806000,1.806000,3950',
 '2002-01-02,null,null,null,null,null,null',
 '2002-01-03,1.645000,1.645000,1.631000,1.631000,1.631000,100',
 '2002-01-04,1.483000,1.483000,1.483000,1.483000,1.483000,20',
 '2002-01-07,1.348000,1.348000,1.348000,1.348000,1.348000,20977',
 '2002-01-08,5.400000,5.400000,4.850000,4.850000,4.850000,0',
 '2002-01-09,5.400000,5.400000,5.000000,5.000000,5.000000,0',
 '2002-01-10,null,null,null,null,null,null',
 '2002-01-11,5.400000,5.400000,4.800000,4.800000,4.800000,0',
 '2002-01-14,1.348000,1.348000,1.348000,1.348000,1.348000,35850',
 '2002-01-15,5.400000,5.400000,5.000000,5.000000,5.000000,0',
 '2002-01-16,null,null,null,null,null,null',
 '2002-01-17,null,null,null,null,null,null',
 '2002-01-18,null,null,null,null,null,null',
 '2002-01-22,null,null,null,null,null,null',
 '2002-01-23,null,null,null,null,null,null',
 '2002-01-24,null,null,null,null,null,null',
 '2002-01-25,null,null,null,null,null,null',
 '2002-01-28,null,null,null,null,null,null',
 '2002-01-29,null,null,null,null,null,null',
 '2002-01-30,null,null,null,null,null,null',
 '2002-01-31,null,null,null,null,null,null',
 '2002-02-01,1.213000,1.213000,1.213000,1.213000,1.213000,100',
 '2002-02-04,1.213000,1.213000,1.213000,1.213000,1.213000,180',
 '2002-02-05,4.950000,4.950000,4.000000,4.000000,4.000000,0',
 '2002-02-06,null,null,null,null,null,null',
 '2002-02-07,null,null,null,null,null,null',
 '2002-02-08,null,null,null,null,null,null',
 '2002-02-11,4.950000,4.950000,4.400000,4.400000,4.400000,0',
 '2002-02-12,null,null,null,null,null,null',
 '2002-02-13,null,null,null,null,null,null',
 '2002-02-14,null,null,null,null,null,null',
 '2002-02-15,null,null,null,null,null,null',
 '2002-02-19,null,null,null,null,null,null',
 '2002-02-20,null,null,null,null,null,null',
 '2002-02-21,4.900000,4.900000,4.900000,4.900000,4.900000,0',
 '2002-02-22,1.321000,1.321000,1.321000,1.321000,1.321000,5',
 '2002-02-25,4.900000,4.900000,3.900000,3.900000,3.900000,0',
 '2002-02-26,4.850000,4.850000,3.950000,3.950000,3.950000,0',
 '2002-02-27,null,null,null,null,null,null',
 '2002-02-28,null,null,null,null,null,null',
 '2002-03-01,null,null,null,null,null,null',
 '2002-03-04,1.070000,1.070000,1.070000,1.070000,1.070000,50',
 '2002-03-05,1.283000,1.283000,1.283000,1.283000,1.283000,50',
 '2002-03-06,4.850000,4.850000,4.850000,4.850000,4.850000,0',
 '2002-03-07,4.850000,4.850000,4.000000,4.000000,4.000000,0',
 '2002-03-08,4.000000,4.000000,4.000000,4.000000,4.000000,0',
 '2002-03-11,1.227000,1.227000,1.227000,1.227000,1.227000,5',
 '2002-03-12,1.227000,1.227000,1.227000,1.227000,1.227000,10',
 '2002-03-13,4.550000,4.550000,4.500000,4.500000,4.500000,0',
 '2002-03-14,null,null,null,null,null,null',
 '2002-03-15,4.550000,4.550000,4.500000,4.500000,4.500000,0',

In [24]:
from pyspark.sql.types import Row
from datetime import datetime

In [31]:
simple_data = sc.parallelize([Row(id=1,
                                  name="Alice",
                                  score=50),
                              Row(id=2,
                                  name="Bob",
                                  score=80)])
df = simple_data.toDF()
df.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
|  2|  Bob|   80|
+---+-----+-----+

In [32]:
df

DataFrame[id: bigint, name: string, score: bigint]

In [42]:
sqlContext = SQLContext(sc)
dfrange = sqlContext.range(5)
dfrange.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [39]:
data = [(1, "Alice", 50),
        (2, "Bob", 80),
        (3, "Charlee", 75)]
sqlContext.createDataFrame(data, ["ID", "Name", "Score"]).show()

+---+-------+-----+
| ID|   Name|Score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlee|   75|
+---+-------+-----+

In [40]:
data1 = [(1, "Alice", 50),
        (2, "Bob", 80),
        (3, "Charlee", 75)]
col_names = Row('id', 'name', 'score')
students = data.map(lambda r: col_names(*r))
students.collect()

AttributeError: 'list' object has no attribute 'map'